<nav id="sectionNav" class="section-nav">
  <div class="section-nav-inner flex align-center justify-space-between">
    <div class="section-nav-primary flex align-center">
      <div class="section-logo decoration-none">
        <h4><span style="color: #1d9ad1;">GURUS</span> <span style="color: #4CAF50;">PEDIA</span></h4>
      </div>
      <div style="position: relative;" class="section-nav-primary-uncollapsed">
        {{ if not (eq .Layout "lp-slim") }}
        <ul class="section-nav-main list-flex">
          <li><a href="/" class="text-24 text-link bold decoration-none">Home</a></li>
          <li><a href="/authors" class="text-24 bold text-link decoration-none">Featured </a></li>
          <li><a href="/contact" class="text-24 bold text-link decoration-none">Contact</a>
          </li>
          <li><a href="/about" class="text-24 bold text-link decoration-none">About </a></li>
        </ul>
        {{ end }}
      </div>
    </div>
    {{ if not (eq .Layout "lp-slim") }}
    <div class="section-nav-secondary flex align-center">
      <ul class="section-nav-main list-flex">
        <div class="search-container">
          <form id="search" action="/search" method="GET">
            <input type="search" id="search-query" name="q" class="text-24 bold" placeholder="🔍 Search docs...">
        </form> 
        </div>
        <div class="search-button">
          <a href="/about"><button id="search-button" class="text-24 bold decoration-none"> Contribute</button></a>
        </div>
      </ul>
    </div>
    {{ end }}
    <div class="section-nav-triggers">
      <div class="section-nav-triggers-show pointer"><span class="text-15-semi text-black"><svg width="24" height="17"
            xmlns="http://www.w3.org/2000/svg">
            <g fill="#09090B" fill-rule="nonzero">
              <path d="M0 0h24v3H0zM0 7h24v3H0zM0 14h24v3H0z" />
            </g>
          </svg></span></div>
    </div>
  </div>
  <div class="section-nav-mobile">
    <div class="section-nav-mobile-wrap">
      {{ if not .IsHome }}
      <a href="/" class="section-logo decoration-none">
        {{ else }}
        <span href="/" class="section-logo decoration-none">
          {{ end }}
          <h3><span style="color: #1d9ad1;">GURUS</span> <span style="color: #4CAF50;">PEDIA</span></h3>
          {{ if not .IsHome }}
      </a>
      {{ else }}
      </span>
      {{ end }}
      <div class="section-nav-triggers-close pointer"><span> <svg width="20" height="19"
            xmlns="http://www.w3.org/2000/svg">
            <g fill="#000" fill-rule="nonzero">
              <path d="M2.575-.046l16.97 16.97-2.12 2.122L.455 2.076z" />
              <path d="M17.425-.046L.455 16.924l2.12 2.122 16.97-16.97z" />
            </g>
          </svg></span></div>
    </div>
    <div class="section-nav-mobile-inner">
      <ul class="section-nav-mobile-inner-main list-unstyled pt-5">

        <li class="xs-mb-20">
          <a href="/" class="text-black decoration-none xs-pb-20 title-4-menu"><span>Home</span></a>
        </li>
        <li class="xs-mb-20">
          <a href="/authors"
            class="text-black decoration-none xs-pb-20 title-4-menu"><span>Featured</span></a>
        </li>
        <li class="xs-mb-20">
          <a href="/contact" class="text-black decoration-none xs-pb-20 title-4-menu"><span>Contact</span></a>
        </li>
        <li class="xs-mb-20">
          <a href="/about" class="text-black decoration-none title-4-menu xs-pb-20"><span>About</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>