<script type="application/ld+json">

  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://www.GurusPedia.com",
    "logo": "https://www.GurusPedia.com/images/logo.png",
    "sameAs" : [
    "https://twitter/GurusPedia",
    "https://www.linkedin.com/in/gurus-pedia-83b777287/",
    "https://github.com/kimkimani/"
    ]
}

</script>
<script type="application/ld+json">
  {
      "@context" : "http://schema.org",
      "@type" : "GurusPedia",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
      "url" : "{{ .Permalink }}"
  }
</script>
