<!-- Sajari ping-back code -->
<script type="text/javascript">
  var _sj = _sj || [];
  _sj.push(['project', '1568116078614868']);
  _sj.push(['collection', '-io']);
  (function () {
    var sj = document.createElement('script');
    sj.type = 'text/javascript';
    sj.async = true;
    sj.src = '//cdn.sajari.net/v2/js/sj.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(sj, s);
  })();
</script>
<!-- End Sajari ping-back code -->

<article>

  <div>
    <div>
      {{ with .Site.GetPage "/engineering-education" }}
      {{ .Content }}
      {{ end }}
    </div>
  </div>
  
</article>