
<section class="authors-posts">
  <div class="authors-block-inner flex flex-wrap justify-center">
    <div class="posts-header">
      <h3 class="title">Featured Instructors</h3>
    </div>
    <ul class="authors-posts-items list-unstyled xs-mb-0">

      {{ range .Pages }}
      
      {{ $author := path.Base .Permalink}}
      {{ $listArticles := (where (where .Site.Pages "Params.layout"
      "blog") ".Params.author" $author) }} 
      {{ $TotalArticles := len $listArticles }}
      
      {{ $getArticleUrls :=slice }} {{ range $listArticles }} {{ $getArticleUrls = $getArticleUrls |
      append .Permalink }} {{ end }} {{ $getArticleUrls = delimit
      $getArticleUrls ", "}}

      <li class="authors-posts-item">
        <div class="authors-block-item-wrap flex flex-column">
          {{ range .Resources }} 
          <img src="{{ (.Resize " 400x").Permalink }}" />
          {{ end }}
          <div class="authors-block-item-content flex flex-column">
            <div class="authors-block-item-content-inner pt-10">
              <a class="decoration-none" href="{{ .RelPermalink }}">
                <h3 class="title-5.5 text-link">{{ .Title }}</h3>
              </a>

              <p class="title-5.5 text-link">
                {{ $TotalArticles }} Stories Written
              </p>

              <div class="authors-posts-textitems">
                <ul class="list-unstyled xs-mb-0">
                  {{ with .Params.linkedin }}
                  <li>
                    <a class="decoration-none" href="{{ . }}" target="_blank"><i class="linkedin"></i></a>
                  </li>
                  {{ end }} {{ with .Params.github }}
                  <li>
                    <a class="decoration-none" href="{{ . }}" target="_blank"><i class="github"></i></a>
                  </li>
                  {{ end }} {{ with .Params.twitter }}
                  <li class="">
                    <a class="decoration-none" href="{{ . }}" target="_blank"><i class="twitter"></i></a>
                  </li>
                  {{ end }} {{ with .Params.website }}
                  <li>
                    <a class="decoration-none" href="{{ . }}" target="_blank"><i class="website"></i></a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>